body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-weight: normal;
    font-size: 20px;
}

.nav {
    background-color: #f8f9fa;
    overflow: hidden;
    padding: 15px 40px;
    margin: 20px auto;
    max-width: 1200px;
    font-size: 25px;
}

.nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #660874;
    text-align: center;  /* Center the list items */
}

.nav li {
    display: inline-block;  /* Change from float to inline-block */
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}


.main-content {
    margin: 20px auto;
    max-width: 1200px;
}

.main-content * {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    background-color: #f8f9fa;
}


#main {
    display: flex;
    gap: 10px 30px;
    margin: 20px auto;
    font-size: 20px;
    max-width: 1200px;
}


#intro {
    flex: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

#photo {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px
}

#photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.section {
  margin-bottom: 10px;
}

.section-heading {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.divider {
  border-top: 1px solid #000;
  margin: 10px 0;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px 30px;
  font-size: 20px;
}

.publication-list li {
  padding: 10px;
}

.publication-list li a {
  margin: 0;
  padding: 0;
}

.section a {
  margin: 0;
  padding: 0;
}
